ExcludeHeaderFilterRegex: '(third_party|.*_generated\.h$)'

Checks: >
  -*,
  bugprone-*,
  performance-*,
  portability-*,
  readability-*,
  modernize-*,
  clang-analyzer-*,
  cppcoreguidelines-*,
  -readability-magic-numbers,
  -readability-identifier-length,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-bounds-avoid-unchecked-container-access

